:root {
    --purple: hsl(257, 40%, 49%);
    --pink: hsl(300, 69%, 71%);
}

body {
    background: url(../images/bg-desktop.svg) no-repeat;
    background-color: var(--purple);
    margin: 50px;
    font-family: 'Poppins';
}

header .logo {
    padding-bottom: 80px;
}

main {
    display: flex;
}

main .ilustration {
    width: 100%;
    height: 100%;
}

main .content {
    color: white;
    padding: 50px 0px 0px 50px;
}

main .content p {
    padding-bottom: 20px;
}

main .content a {
    color: var(--purple);
    background-color: white;
    padding: 10px 40px;
    border-radius: 50px;
}

main .content a:hover {
    background-color: var(--pink);
    color: white;
    transition: 0.3s;
}

footer .social-links {
    display: flex;
    justify-content: flex-end;
}

footer .social-links a {
    margin: 5px;
}

footer .social-links .fb {
    color: white;
    border: 1px solid white;
    padding: 3px 10px;
    border-radius: 50%;
}

footer .social-links .twit{
    color: white;
    padding: 3px 7px;
    border: 1px solid white;
    border-radius: 50%;
}

footer .social-links .insta {
    color: white;
    padding: 3px 8px;
    border: 1px solid white;
    border-radius: 50%;
}

footer .social-links .fb:hover,
footer .social-links .twit:hover,
footer .social-links .insta:hover {
    color: var(--pink);
    border: 1px solid var(--pink);
    transition: 0.3s;
}

