@media (max-width: 376px){
    body {
        background: url(../images/bg-mobile.svg) no-repeat;
    }
    main .content h1 {
        font-size: 18px;
        padding-bottom: 10px;
    }
    
    main .content p {
        padding-bottom: 20px;
        font-size: 14px;
    }
    
    main .content a {
        padding: 10px 10px;
        border-radius: 50px;
    }

    main .ilustration {
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 1024px) {
    body {
        background-color: var(--purple);
    }

    header .logo {
        width: 180px;
    }

    main {
        flex-direction: column;
    }

    main .content {
        text-align: center;
    }

    main .content a {
        padding: 10px 50px;
        border-radius: 50px;
    }

    footer .social-links {
        justify-content: center;
        padding-top: 50px;
    }
}